---
name: build stable

# Actions for an 'official' tag.
#
# An official tag is a 2 or 3 digit value (i.e. 'N.N(.N)').
# We publish images using the tag as a tag and 'stable' as s tag.

# -----------------
# Control variables (GitHub Secrets)
# -----------------
#
# At the GitHub 'organisation' or 'project' level you must have the following
# GitHub 'Repository Secrets' defined (i.e. via 'Settings -> Secrets'): -
#
# DOCKERHUB_USERNAME
# DOCKERHUB_TOKEN
#
# -----------
# Environment (GitHub Environments)
# -----------
#
# Environment         (none)
#
# For automated deployment we expect the following in the environment: -
#
# (none)

on:
  push:
    tags:
    - '[0-9]+.[0-9]+'
    - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  push-stable:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v4
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push sql-backup
      uses: docker/build-push-action@v6
      with:
        tags: |
          informaticsmatters/sql-backup:${{ env.GITHUB_REF_SLUG }}
          informaticsmatters/sql-backup:stable
        context: sql-backup
        push: true
    - name: Build and push sql-recovery
      uses: docker/build-push-action@v6
      with:
        tags: |
          informaticsmatters/sql-recovery:${{ env.GITHUB_REF_SLUG }}
          informaticsmatters/sql-recovery:stable
        context: sql-recovery
        push: true
