---
name: build latest

# -----------------
# Control variables (GitHub Secrets)
# -----------------
#
# At the GitHub 'organisation' or 'project' level you must have the following
# GitHub 'Repository Secrets' defined (i.e. via 'Settings -> Secrets'): -
#
# DOCKERHUB_USERNAME
# DOCKERHUB_TOKEN
#
# -----------
# Environment (GitHub Environments)
# -----------
#
# Environment         (none)
#
# For automated deployment we expect the following in the environment: -
#
# (none)

on:
  push:
    branches:
    - 'master'

jobs:
  build-and-push-latest:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push sql-backup
      uses: docker/build-push-action@v6
      with:
        tags: informaticsmatters/sql-backup:latest
        context: sql-backup
        push: true
    - name: Build and push sql-recovery
      uses: docker/build-push-action@v6
      with:
        tags: informaticsmatters/sql-recovery:latest
        context: sql-recovery
        push: true
